
.submit {
    margin: 40px 0px;
    clear: 'right';
    display: 'block';

}
.add {
    margin: 20px 10px;
    display: block;
    float: right;
}
.error {
    font-size: 12px;
    color: #E53E3E;
    margin-top: 0.25rem;
  }